/* $Id$ */

#access-rules .access-type, #access-rules .rule-type {
  margin-right: 1em; /* LTR */
  float: left; /* LTR */
}
#access-rules .access-type .form-item, #access-rules .rule-type .form-item {
  margin-top: 0;
}
#access-rules .mask {
  clear: both;
}